<!-- mailing_management/templates/mailing_management/message_form.html -->
{% extends 'mailing_management/base.html' %}
{% load my_tags %}
{% block title %} Управление сообщением {% endblock title %}
{% block content %}
<body class="bg-light">

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Добавить сообщение</h3>
            <h2>{{ view.object.pk|yesno:"Редактировать рассылку,Создать рассылку" }}</h2>

            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}

              <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">
                  {% if object %}
                    Сохранить
                  {% else %}
                    Создать
                  {% endif %}
                </button>
                <a href="{% url 'mailing_management:messages_list' %}" class="btn btn-secondary">Отмена</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock content %}