{% extends 'mailing_management/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-danger">Удаление получателя</h2>
  <p>Вы уверены, что хотите удалить получателя <strong>{{ recipient.name }}</strong> с email <strong>{{ recipient.email }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{% url 'mailing_management:recipients_list' %}" class="btn btn-secondary ms-2">Отмена</a>
  </form>
</div>
{% endblock %}
